//mixin and content for video overlays
@mixin overlay {
  content: "";
  position: absolute;
  width: 50%;
  height: 60vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}

#content {
  &-eversince::before {
    @include overlay;
    background-image: url("../img/bg/eversince-bg.png");
  }
  &-redlight::before {
    @include overlay;
    background-image: url("../img/bg/redlight-bg.png");
  }
  &-exeter::before {
    @include overlay;
    background-image: url("../img/bg/exeter-bg.png");
  }
  &-333::before {
    @include overlay;
    background-image: url("../img/bg/333-bg.png");
  }
  &-goodluck::before {
    @include overlay;
    background-image: url("../img/bg/goodluck-bg.png");
  }
  &-thefool::before {
    @include overlay;
    background-image: url("../img/bg/thefool-bg.png");
  }
  &-crest::before {
    @include overlay;
    background-image: url("../img/bg/crest-bg.png");
  }
  &-spiderr::before {
    @include overlay;
    background-image: url("../img/bg/spiderr-bg.png");
  }

  &-gluee::before {
    @include overlay;
    background-image: url("../img/bg/gluee-bg.png");
  }
  &-wod::before {
    @include overlay;
    background-image: url("../img/bg/wod-bg.png");
  }
  &-icedancer::before {
    @include overlay;
    background-image: url("../img/bg/icedancer-bg.png");
  }

  &-ripbladee::before {
    @include overlay;
    background-image: url("../img/bg/ripbladee-bg.png");
  }
  &-plasticsurgery::before {
    @include overlay;
    background-image: url("../img/bg/plasticsurgery-bg.png");
  }
  &-sunsetinsilvercity::before {
    @include overlay;
    background-image: url("../img/bg/sunsetinsilvercity-bg.png");
  }
  &-exile::before {
    @include overlay;
    background-image: url("../img/bg/exile-bg.png");
  }
  &-vanillasky::before {
    @include overlay;
    background-image: url("../img/bg/vanillasky-bg.png");
  }

  &-gtbsgcompilation::before {
    @include overlay;
    background-image: url("../img/bg/gtbsgcompilation-bg.png");
  }
  &-avp::before {
    @include overlay;
    background-image: url("../img/bg/avp-bg.png");
  }
  &-dandg::before {
    @include overlay;
    background-image: url("../img/bg/d&g-bg.png");
  }
  &-trashisland::before {
    @include overlay;
    background-image: url("../img/bg/trashisland-bg.png");
  }
}
